<div class="resume-wrapper">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis facilis incidunt, culpa consectetur rem aperiam hic ea possimus molestiae cum, quisquam exercitationem numquam atque voluptas non nostrum nulla ratione aspernatur?</p>
</div>