<!--Hamburger Menu-->
<div class="menu-container" id="menu-bars" (click)="Toggle()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<!----- Mobile Navigation----->
<nav class="mobile-nav" id="mobile-nav">
    <ul class="nav-items" >
        <li style="padding-top: 48px;"></li>
        <a href="#home"><li>Home</li></a>
        <a href="#about"><li>About</li></a>
        <a href="#projects"><li>Projects</li></a>
        <a href="#contact"><li>Contact</li></a>
    </ul>
</nav>



<!--Desktop Navigation-->
<div class="sidebar-container" (mouseover)="SidebarOn()" (mouseout)="SidebarOff()">
    <p class="sidebar-toggle" id="sidebar-toggle">Menu</p>
    <ul class="sidebar-items desktop-nav display-none" id="desktop-nav"> <!--Esconde los elementos de navefacion-->
        <a href="#home"><li>Home</li></a>
        <a href="#about"><li>About</li></a>
        <a href="#projects"><li>Projects</li></a>
        <a href="#contact"><li>Contact</li></a>
    </ul>

</div>