a,li {text-decoration: none;}

.desktop-nav {display: initial;}
.display-none {display: none;}
 
//Anula las barras cuando se esta en Aplication web
#menu-bars {display:none;}
#mobile-nav {display: none;}

.sidebar-container { 
    position: fixed;
    display: initial;
    height: 30vh;
    width: 350px;
    z-index: 10;
/*     background-color: dodgerblue; 
 Color de todo el espacio respecto a la barra*/
}

.sidebar-toggle {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: kalam, sans-serif;
    color: white;
    background-color: rgba(0,0,0,.5);
    width: 112px;
    margin: 40px;
    padding: 10px;

}

.sidebar-items {
    position: fixed;
    z-index: 10;
    list-style: none;
    font-size: 3rem;
}

.sidebar-items li{
    text-transform: uppercase;
    font-family: kalam, sans-serif;
    cursor: pointer;
    padding: 2px 14px 5px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0,0,0.5);
}

.side-items li:hover {
    color: rgba(0,0,0,.85);
    background-color: #fbfbfb;
    transition: .3s;
}

/* ----------------- Media Queries -------------*/

/* Mobile Navigation*/

@media screen and (max-width: 1080px){
    .sidebar-container, .sidebar-toggle, .desktop-nav {display: none;}

    //acttiva la barra menu al estar en responsive
    #menu-bars {display:initial;}
    #mobile-nav {display: initial;}


  //Navigation
  .mobile-nav {
    position: fixed;
    top: -300px;
    left: -50px;
    width: 112%;
    z-index: 5;
     transition: 0.5s ease;
  }

  .nav-expand {
    top: -16px;
    transition: 0.3s ease; 
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
  }

  .nav-items li{
    text-transform: uppercase;
    font-family: 'Segoe UI', sans-serif;
    padding: 10px;
    margin-left: 10px;
    background-color: black;
  }

  .mobile-nav a { color: white;}
  .mobile-nav a:hover {
    color: black;
    background-color: white;
  }

  .nav-items li:hover {
    color: black;
    background-color: white;
  }

    /*Hamburger menu*/
    .menu-container {
        display: inline-block;
        cursor: pointer;
        position: fixed;
        top: 10px;
        right: 15px;
        z-index: 12;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
        border-top: 1px solid rgba(0,0,0,.5);
        border-left: 1px solid rgba(0,0,0,.5);
        box-shadow: 2px 2px 2px rgba(0,0,0,.5);
      }
      
      /* Rotate first bar */
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      
      /* Fade out the second bar */
      .change .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }
}