/* <!--Home section ------------------------------------------------------------------------------------------------------>
<!--About section ------------------------------------------------------------------------------------------------------>
<!--Projects section ------------------------------------------------------------------------------------------------------>
<!--Contact section ------------------------------------------------------------------------------------------------------>
<!--Footer section ------------------------------------------------------------------------------------------------------> */
section {min-height: 100vh; height: auto; position: relative; font-family: kalam, sans-serif;}

a {text-decoration: none; color: white}

//Con # es para indicar el id , con el . indica la clase
#home {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
//home Section
#video-background{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-overplay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
}


//Cambia la fuente de letra titulo con la siguiente linea de codigo
@font-face {font-family: kalam; src: url(../assets/font/kalam.ttf);}

.main-title {
    position: absolute;
    top: 30%;
    color: white;
    font-family: kalam, sans-serif;
    font-size: 5rem;
}


/*Social icons*/

.social-icons {
    position: absolute;
    top: 60%;
}

//Hijo de la clase .social-icons
.social-icons fa-icon {
    font-size: 3rem;
    color: white;
    padding: 7.5px 15px;
    cursor: pointer;
}

.social-icons fa-icon:hover { //Cuando se pone encima el mouse
    color: black;
    background-color: white;
}


/*-------- About section -------------------*/
.background {
    position: relative;
    min-height: 100vh;
    height: auto;
    background-color: #f8f8f9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23000000' fill-opacity='0.31'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.card {
    position: relative;
    top: 5vh;
    height: auto;
    width: 40vw;
    margin: 0 auto;
    background-color: rgba(255,255,255,.8);
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.about-img {
    height: 35vh;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 2px 5px 10px 4px rgba(0,0,0,.25);
}

.card-body {
    padding: 0 1.2rem;

}

.card-title {
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    width: 100%;
    padding: 25px;
    border-bottom: 1px solid black;
}

.card-text {
    font-size: 1.3rem;
    margin-top: 0;
    text-align: justify;
}

.card-button {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(201,22,22);
    padding: .5rem;
    margin-top: 3vh;
    border-radius: 5px;
    box-shadow: 0 0.3rem rgba(0,0,0,.65);
}

.card-button:active {
    transform: translate(0, .3rem);
    box-shadow: 0 0.1rem rgba(0,0,0,.65);

}

/*-------- Projects section -------------------*/

#projects {background-color: black;}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10%;
}

.projects-title{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
}

.project-group-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-group-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10vh;
}

.project-img img{
    height: 325px;
    width: 325px;
    transition: all 0.3s ease-in-out;

}

.project-img img:hover{
    transform: scale(0.97);
    transition: all 0.3s ease-in-out;
}

.projects-item {
    text-align: center;
}

.project-title{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
}

.project-title a:hover{
    color: rgba(201,22,22);
    transition: all 0.3s ease-in-out;
}

.github-link{
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1vh;
}

.github-link a:hover{
    color: rgba(201,22,22);
    transition: all 0.3s ease-in-out;
}

/*-------- contact section -------------------*/

#contact {
/*     background-color: purple;
 */ 
/*     background: url('../assets/img/Screenshot\ from\ 2019-12-26\ 19-17-19.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
}

.contact-email{
    position: absolute;
    color: white;
    height: 100px;
    font-family:kalam, sans-serif;
    font-size: 4rem;
    margin-top: 10vh;
    z-index: 2;
    transition: 0.5s ease-in-out;
}

.contact-email:hover{
    text-decoration: underline;
    transition: 0.5s ease-in-out; //tipo de transicion son 6 
}

#video-background-2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.red{
    color: red;
}

.business-card{
    height: 100vh;
    width: auto;
}
/*-------- footer section -------------------*/

#footer {
    background-color: black;
    min-height: unset;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footer-icons fa-icon{
    font-size: 2rem;
    margin-left: 1vw;
}

.footer-icons fa-icon:hover{
    color: red;
}

.footer-text{
    color:white;
    text-align: center;
}

/*----------------- Media Queris ----------------------*/

/*Large Smartphone (Vertical)*/
@media screen and (max-width:600px){
    video {object-fit: cover;}
    #video-background {height: 100vh; width: 100vw;}
    #video-background-2 {height: 100vh; width: 100vw;}
    .main-title { font-weight: 3rem;}
    .social-icons fa-icon {font-size: 2rem;}
    .card {width: 100vw; background-color: white;}
    .card-text {font-size: 1rem;}
    .projects-title { font-size: 2rem; background-color: white;}
    .contact-email {font-size: 2.5rem;}
    .footer-icons fa-icon {margin-left: 20px;}
}

/*Large Smartphone (Horizontal)*/

@media screen and (max-width: 850px) and (max-height: 500px){

    .main-title{ top: 15%;}
    .card { width: 80%; top: 0;}
    .card-text { font-size: 1rem;}
    .about-img { height: 50vh;}
    .projects { margin: 0 2%;}
    .project-img img { height: 245px; width: 245px;}
    .footer-icons fa-icon { margin-left: 20px;}
}