<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <router-outlet></router-outlet>

  <!--Home section ------------------------------------------------------------------------------------------------------>
  <section id="home">

  <!--Video background-->
    <!-- Estructura para tener mp4 de fondo-->
  <video loop muted autoplay id="video-background">
    <source src="../assets/img/video-background.mp4" type="video/mp4"> 
  </video>
  <div class="video-overplay"></div>

  <!--Main title-->
  <h1 class="main-title">Titulo de portafolio</h1>

  <!--Social icons-->
  <div class="social-icons">
    <a href="" target="_blank" rel="noopener"> <fa-icon [icon]="['fab', 'codepen']" title="Codepen"> </fa-icon></a>
    <a href="" target="_blank" rel="noopener"> <fa-icon [icon]="['fab', 'linkedin']" title="Linkedin"> </fa-icon></a>
    <a href="" target="_blank" rel="noopener"> <fa-icon [icon]="['fab', 'medium']" title="Medium"> </fa-icon></a>
    <a href="" target="_blank" rel="noopener"> <fa-icon [icon]="['fab', 'instagram']" title="Instagram"> </fa-icon></a>
    <a href="" target="_blank" rel="noopener"> <fa-icon [icon]="['fab', 'youtube']" title="Youtube"> </fa-icon></a>
  </div>


  </section>

  
  <!--About section ------------------------------------------------------------------------------------------------------>
  <div class="background">
    <section id="about">
      <div class="card">
        <img src="../assets/img/Screenshot from 2019-12-26 19-17-19.png" alt="Picture of me" class="about-img">
        <div class="card-body">
          <h1 class="card-title">about</h1>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, sint eum nobis laborum natus, quaerat expedita nesciunt modi in commodi vitae quos enim illum fugit necessitatibus quo, maiores magnam! Dolores!</p>
          <a [routerLink]="['/resume']" routerLinkActive="active" (click)="scrollToTop()">
            <div class="card-button">View Resume</div>
          </a>
        </div>
      </div>
    </section>
  </div>  
<!--Projects section ------------------------------------------------------------------------------------------------------>
  <section id="projects">
    <div class="projects">
      <h1 class="projects-title">Click to View projects</h1>
      <div class="project-group-1">
        <article class="project-item">
          <div class="project-img">
            <a href="https://duckduckgo.com"><img src="../assets/img/Screenshot from 2019-12-26 19-17-19.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://duckduckgo.com">Project title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View github reposirotry">github</a></h6>
          </div>
        </article>

        <article class="project-item">
          <div class="project-img">
            <a href="https://duckduckgo.com"><img src="../assets/img/Screenshot from 2019-12-26 19-17-19.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://duckduckgo.com">Project title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View github reposirotry">github</a></h6>
          </div>
        </article>

        <article class="project-item">
          <div class="project-img">
            <a href="https://duckduckgo.com"><img src="../assets/img/Screenshot from 2019-12-26 19-17-19.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://duckduckgo.com">Project title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View github reposirotry">github</a></h6>
          </div>
        </article>

      </div>
      <div class="project-group-2">
        <article class="project-item">
          <div class="project-img">
            <a href="https://duckduckgo.com"><img src="../assets/img/Screenshot from 2019-12-26 19-17-19.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://duckduckgo.com">Project title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View github reposirotry">github</a></h6>
          </div>
        </article>

        <article class="project-item">
          <div class="project-img">
            <a href="https://duckduckgo.com"><img src="../assets/img/Screenshot from 2019-12-26 19-17-19.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://duckduckgo.com">Project title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View github reposirotry">github</a></h6>
          </div>
        </article>

        <article class="project-item">
          <div class="project-img">
            <a href="https://duckduckgo.com"><img src="../assets/img/Screenshot from 2019-12-26 19-17-19.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://duckduckgo.com">Project title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View github reposirotry">github</a></h6>
          </div>
        </article>
        
      </div>
    </div>
  </section>
  <!--Contact section ------------------------------------------------------------------------------------------------------>
  <div class="background">
    <section id="contact">
    
      <!--Mail to link-->
      <!--Busines card-->
      <a href="mailto:your@email.address" target="_blank" rel="nooponer" title="Click to send email">
        <img src="../assets/img/Screenshot from 2019-12-26 19-17-19.png" alt="Business Cards" class="business-card">
      </a>
  
      <!--Video background-->
  <!--     <video loop muted autoplay id="video-background-2">
        <source src="../assets/img/video-background.mp4" type="video/mp4"> 
      </video>-->
    </section> 
  </div>

  <!--Footer section ------------------------------------------------------------------------------------------------------>
  <section id="footer">
    <div class="footer-icons">
      <a href="" target="_blank" rel="noopener"> <fa-icon [icon]="['fab', 'codepen']" title="Codepen" style="margin-left: 0;"> </fa-icon></a>
      <a href="" target="_blank" rel="noopener"> <fa-icon [icon]="['fab', 'linkedin']" title="Linkedin"> </fa-icon></a>
      <a href="" target="_blank" rel="noopener"> <fa-icon [icon]="['fab', 'medium']" title="Medium"> </fa-icon></a>
      <a href="" target="_blank" rel="noopener"> <fa-icon [icon]="['fab', 'instagram']" title="Instagram"> </fa-icon></a>
      <a href="" target="_blank" rel="noopener"> <fa-icon [icon]="['fab', 'youtube']" title="Youtube"> </fa-icon></a>
      <p class="footer-text">Tony Rom - 20XX</p>
    </div>
  </section>




</div>
